/* Large tablets to small computers */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .btn:link {
    margin-bottom: 10px;
  }
}

/* Larger cell phones/small tablets 481-767 */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }

  .hero-text-box {
    padding: 0 4%;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 20px 0;
    font-size: 100%;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }
  .city-photo {
    height: 300px;
  }
}

/* Small Cellphone/ Mobile */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .city-photo {
    height: 200px;
  }
  .main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 55px;
  }

  .main-nav li {
    display: block;
  }
  .btn:link {
    margin: 25px;
  }

  .col .span-1-of-3,
  .span-1-of-3 span {
    margin-left: 25px;
  }
}
